.text-to-image-categories-and-styles-manger .welcome-msg {
  font-size: 40px;
}

.text-to-image-categories-and-styles-manger .categories-and-styles-box {
  height: calc(100vh - 250px);
  overflow: auto;
}

.text-to-image-categories-and-styles-manger .categories-and-styles-box .categories-and-styles-table {
  font-size: 15px;
  border: 2px solid #000;
  background-color: #FFF;
  width: 100%;
}

.text-to-image-categories-and-styles-manger .categories-and-styles-box .categories-and-styles-table th, .text-to-image-categories-and-styles-manger .categories-and-styles-box .categories-and-styles-table td {
  border: 2px solid #000;
  padding: 10px;
}

.text-to-image-categories-and-styles-manger .categories-and-styles-box .categories-and-styles-table .style-name-cell, .text-to-image-categories-and-styles-manger .categories-and-styles-box .categories-and-styles-table .model-name-cell, .text-to-image-categories-and-styles-manger .categories-and-styles-box .categories-and-styles-table .update-cell {
  width: 60px;
}

.text-to-image-categories-and-styles-manger .categories-and-styles-box .categories-and-styles-table textarea {
  width: 100%;
  resize: none;
  height: 100px;
}
