.control-panel-header {
    background-color: #222;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    .navbar{
        .navbar-brand{
            font-size: 16px;
            &:hover{
                color: #0F0;
            }
        }
        .navbar-nav{
            .nav-item{
                cursor: pointer;
                &.sign-out-btn{
                    border-radius: 5px;
                }
                .nav-link{
                    &.dropdown-toggle{
                        &:hover{
                            color: #0F0;
                        }
                    }
                }
                .dropdown-menu{
                    .dropdown-item{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}