.control-panel-header {
    background-color: #222;
    color: #FFF;
    text-align: center;
    .navbar{
        .navbar-nav{
            .nav-item{
                cursor: pointer;
                &.sign-out-btn{
                    border-radius: 5px;
                }
            }
        }
    }
}