.customers-comments{
    background-color: #EEE;
    .comments-box{
        .comment-box{
            border-radius: 10px;
            height: 320px;
            overflow: auto;
            .comment-content{
                font-size: 15px;
            }
        }
    }
}