.customers-comments {
  background-color: #EEE;
}

.customers-comments .comments-box .comment-box {
  border-radius: 10px;
}

@media (min-width: 992px) {
  .customers-comments .comments-box .comment-box {
    height: 320px;
    overflow: auto;
  }
}

.customers-comments .comments-box .comment-box .comment-content {
  font-size: 15px;
}
