.text-to-image-service .popup-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.text-to-image-service .popup-box .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 90%;
  background: #333;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid var(--main-color-one);
  border: 5px solid #FFF;
  opacity: 0;
  animation: popup-animation 1s ease-in-out 1s forwards;
}

.text-to-image-service .popup-box .popup .created-image {
  max-width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.text-to-image-service .page-content {
  background-color: #000;
  color: #FFF;
}

.text-to-image-service .page-content .container .welcome-msg {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 50px;
  border-bottom: 1px solid #FFF;
  width: fit-content;
  margin: 0 auto;
}

.text-to-image-service .page-content .container .text-to-image-box {
  background-color: #222;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #CCC;
}

.text-to-image-service .page-content .container .text-to-image-box .row .heading {
  background-color: #444;
  border-left: 5px solid #CCC;
}

.text-to-image-service .page-content .container .text-to-image-box .row .options-box {
  background-color: #444;
  border-left: 5px solid;
  box-shadow: 1px 1px 10px #FFF;
  overflow-y: scroll;
  max-height: 450px;
}

.text-to-image-service .page-content .container .text-to-image-box .row .options-box .option-heading {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  border-bottom: 2px solid;
}

.text-to-image-service .page-content .container .text-to-image-box .row .options-box .categories {
  background-color: #222;
  cursor: pointer;
  border-radius: 10px;
}

.text-to-image-service .page-content .container .text-to-image-box .row .options-box .categories .category-box {
  border-radius: 10px;
}

.text-to-image-service .page-content .container .text-to-image-box .row .options-box .categories .category-box:hover {
  background-color: #0c7ec1;
}

.text-to-image-service .page-content .container .text-to-image-box .row .options-box .categories .category-box .category-image {
  border-radius: 10px;
  height: 75px;
  border: 2px solid;
}

.text-to-image-service .page-content .container .text-to-image-box .row .display-box {
  border: 2px solid #FFF;
  border-radius: 5px;
}

.text-to-image-service .page-content .container .text-to-image-box .row .display-box .styles-box .row {
  row-gap: 20px;
  overflow-y: auto;
  max-height: 350px;
}

.text-to-image-service .page-content .container .text-to-image-box .row .display-box .styles-box .style-box {
  background-color: #444;
  cursor: pointer;
  border-radius: 3px;
  border: 3px solid #333;
}

.text-to-image-service .page-content .container .text-to-image-box .row .display-box .styles-box .style-box:hover {
  background-color: #0c7ec1;
}

.text-to-image-service .page-content .container .text-to-image-box .row .display-box .styles-box .style-box .style-image {
  border: 1px solid;
}

.text-to-image-service .page-content .container .text-to-image-box .select-box {
  gap: 30px;
}

.text-to-image-service .page-content .container .text-to-image-box .select-box > div {
  width: 150px;
  background-color: #CCC;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes popup-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
