.text-to-image-service{
    .page-content{
        .container-fluid{
            .art-painting{
                .generated-image-box{
                    position: absolute;
                    z-index: -1;
                }
                .canvas-image-box{
                    img{
                        max-width: 100%;
                    }
                }
            }
            .art-painting-options{
                height: 500px;
                overflow-y: scroll;
                .generating-image-options{
                    .text-prompt{
                        resize: none;
                        height: 70px;
                        font-size: 14px;
                        &:focus{
                            border: 3px solid #000;
                            box-shadow: none;
                        }
                    }
                    .generate-image-btn-box{
                        .describe{
                            font-size: 14px;
                            @media (max-width: 767px) {
                                margin-bottom: 15px !important;
                            }
                        }
                        .generate-image-btn{
                            font-size: 14px;
                        }
                    }
                    .option-section-name{
                        font-size: 14px;
                    }
                    .categories{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                            .category-box{
                                cursor: pointer;
                                .category-image{
                                    height: 60px;
                                    border: 2px solid;
                                }
                                .category-name{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .styles{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                        }
                        .style-box{
                            cursor: pointer;
                            .style-image{
                                height: 60px;
                                border: 2px solid;
                            }
                            .style-name{
                                font-size: 13px;
                            }
                        }
                    }
                }
                .art-name-and-price{
                    @media (max-width: 767px) {
                        .row{
                            > div:first-child{
                                order: 2;
                                text-align: center;
                            }
                            > div:last-child{
                                order: 1;
                                text-align: center !important;
                            }
                        }
                    }
                    .price-box{
                        .discount{
                            text-decoration: line-through;
                        }
                    }
                }
                .displaying-art-painting-options{
                    .art-names-list{
                        border-bottom: 1px solid #CCC;
                        font-size: 14px;
                        li{
                            cursor: pointer;
                            &:hover{
                                border-bottom: 3px solid #CCC;
                            }
                        }
                    }
                    .art-painting-options-list{
                        overflow-x: auto;
                        flex-wrap: nowrap;
                        span{
                            cursor: pointer;
                            border: 1px solid #CCC;
                            font-size: 14px;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            flex-direction: column;
                            h6{
                                font-size: 12px;
                            }
                            img{
                                display: block;
                                margin: 0 auto;
                                width: 40px;
                            }
                        }
                    }
                    .positions-list, .white-borders-list{
                        span{
                            height: 60px;
                        }
                    }
                    .sizes-list, .frames-list{
                        span{
                            height: 70px;
                        }
                    }
                    .frames-list{
                        span{
                            height: 90px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes popup-animation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}