.text-to-image-service .page-content .container-fluid .art-painting .generated-image-box {
  position: absolute;
  z-index: -1;
}

.text-to-image-service .page-content .container-fluid .art-painting-options .generating-image-options .text-prompt {
  resize: none;
  height: 60px;
  overflow: auto;
  font-size: 14px;
}

.text-to-image-service .page-content .container-fluid .art-painting-options .generating-image-options .text-prompt:focus {
  border: 3px solid #000;
  box-shadow: none;
}

.text-to-image-service .page-content .container-fluid .art-painting-options .generating-image-options .generate-image-btn-box .describe {
  font-size: 14px;
}

@media (max-width: 767px) {
  .text-to-image-service .page-content .container-fluid .art-painting-options .generating-image-options .generate-image-btn-box .describe {
    margin-bottom: 15px !important;
  }
}

.text-to-image-service .page-content .container-fluid .art-painting-options .generating-image-options .generate-image-btn-box .generate-image-btn {
  font-size: 14px;
}
