.text-to-image-service{
    .page-content{
        .container-fluid{
            .welcome-msg{
                font-family: 'Caveat', cursive;
                font-weight: bold;
                font-size: 40px;
                border-bottom: 3px solid #000;
                width: fit-content;
                margin: 0 auto;
            }
            .room-image-box{
                position: relative;
                img{
                    max-width: 100%;
                    max-width: 100%;
                }
                .art-painting{
                    position: absolute;
                    left: 25%;
                    top: 20%;
                    z-index: 1;
                }
            }
            .art-painting{
                position: relative;
                .generated-image-box{
                    position: absolute;
                }    
            }
            .art-painting-options{
                height: 500px;
                overflow-y: scroll;
                .generating-image-options{
                    .text-prompt{
                        resize: none;
                        height: 70px;
                        font-size: 14px;
                        &:focus{
                            border: 3px solid #000;
                            box-shadow: none;
                        }
                    }
                    .generate-image-btn-box{
                        .describe{
                            font-size: 14px;
                        }
                        .generate-image-btn{
                            font-size: 14px;
                        }
                    }
                    .option-section-name{
                        font-size: 14px;
                    }
                    .categories{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                            .category-box{
                                cursor: pointer;
                                .category-image{
                                    height: 60px;
                                    border: 2px solid;
                                }
                                .category-name{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .styles{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                        }
                        .style-box{
                            cursor: pointer;
                            .style-image{
                                height: 60px;
                                border: 2px solid;
                            }
                            .style-name{
                                font-size: 13px;
                            }
                        }
                    }
                }
                .art-name-and-price{
                    .price-box{
                        .discount{
                            text-decoration: line-through;
                        }
                    }
                }
                .displaying-art-painting-options{
                    .art-names-list{
                        border-bottom: 1px solid #CCC;
                        font-size: 14px;
                        li{
                            cursor: pointer;
                            &:hover{
                                border-bottom: 3px solid #CCC;
                            }
                        }
                    }
                    .positions-list{
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                        gap: 10px;
                        li{
                            cursor: pointer;
                            border: 1px solid #CCC;
                            font-size: 14px;
                            height: 60px;
                        }
                    }
                    .sizes-list{
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
                        gap: 10px;
                        li{
                            cursor: pointer;
                            border: 1px solid #CCC;
                            font-size: 14px;
                            height: 80px;
                            line-height: 40px;
                        }
                    }
                    .white-borders-list{
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
                        gap: 10px;
                        li{
                            cursor: pointer;
                            border: 1px solid #CCC;
                            font-size: 14px;
                            height: 75px;
                            line-height: 75px;
                        }
                    }
                    .framed-list{
                        display: grid;
                        grid-auto-flow: column;
                        gap: 15px;
                        overflow-x: auto;
                        li{
                            cursor: pointer;
                            border: 1px solid #CCC;
                            width: 110px;
                            height: 105px;
                            font-size: 12px;
                            &:first-child{
                                line-height: 100px;
                            }
                            img{
                                height: 40px;
                            }
                        }
                    }
                }
            }
            .add-to-cart-box{
                .quantity{
                    font-size: 13px;
                }
                .add-to-cart-managment-btn{
                    font-size: 13px;
                }
            }
            .generated-images{
                background-color: #EEE;
                .generated-images-list{
                    overflow-x: scroll;
                    flex-wrap: nowrap;
                    .generated-images-item{
                        width: 100px;
                        height: 100px;
                        display: inline-block;
                        cursor: pointer;
                        .generated-image{
                            width: inherit;
                            height: inherit;
                        }
                    }
                }
            }
        }
    }
}

@keyframes popup-animation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}