.text-to-image-service{
    .page-content{
        .container-fluid{
            .art-painting{
                .generated-image-box{
                    position: absolute;
                    z-index: -1;
                }
            }
            .art-painting-options{
                .generating-image-options{
                    .text-prompt{
                        resize: none;
                        height: 60px;
                        overflow: auto;
                        font-size: 14px;
                        &:focus{
                            border: 3px solid #000;
                            box-shadow: none;
                        }
                    }
                    .generate-image-btn-box{
                        .describe{
                            font-size: 14px;
                            @media (max-width: 767px) {
                                margin-bottom: 15px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}