.cart{
    .products-table{
        font-size: 15px;
        border: 2px solid #000;
        background-color: #FFF;
        width: 100%;
        th, td{
            border: 2px solid #000;
            padding: 10px;
            text-align: center;
        }
    }
}