.text-to-image-service{
    .page-content{
        .container-fluid{
            .welcome-msg{
                font-family: 'Caveat', cursive;
                font-weight: bold;
                font-size: 50px;
                border-bottom: 3px solid #000;
                width: fit-content;
                margin: 0 auto;
            }
            .art-painting-options{
                height: 500px;
                overflow-y: scroll;
                .generating-image-options{
                    .text-prompt{
                        resize: none;
                        height: 100px;
                        &:focus{
                            border: 3px solid #000;
                            box-shadow: none;
                        }
                    }
                    .categories{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                            .category-box{
                                cursor: pointer;
                                .category-image{
                                    height: 75px;
                                    border: 2px solid;
                                }
                            }
                        }
                    }
                    .styles{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                        }
                        .style-box{
                            cursor: pointer;
                            .style-image{
                                height: 75px;
                                border: 2px solid;
                            }
                        }
                    }
                }
                .art-name-and-price{
                    .price-box{
                        .discount{
                            text-decoration: line-through;
                        }
                    }
                }
                .displaying-art-painting-options{
                    .art-names-list{
                        border-bottom: 1px solid #CCC;
                        li{
                            cursor: pointer;
                            &:hover{
                                border-bottom: 3px solid #CCC;
                            }
                        }
                    }
                    .positions-list{
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                        gap: 10px;
                        li{
                            cursor: pointer;
                            border: 1px solid #CCC;
                        }
                    }
                }
            }
        }
    }
}

@keyframes popup-animation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}