.image-to-image-service{
    position: relative;
    .error-msg-box{
        border: 2px solid #000;
        animation: popup-animation 2s ease-in-out 0s 1;
        .error-icon{
            font-size: 80px;
            color: red;
        }
        .error-msg{
            line-height: 1.5;
        }
    }
    .page-content{
        .container-fluid{
            .welcome-msg{
                font-family: 'Caveat', cursive;
                font-weight: bold;
                font-size: 30px;
                border-bottom: 3px solid #000;
                width: fit-content;
                margin: 0 auto;
            }
            .row{
                .room-image-box{
                    position: relative;
                    max-width: 100%;
                    img{
                        max-width: 100%;
                        max-width: 100%;
                    }
                    .art-painting{
                        position: absolute;
                        left: 25%;
                        top: 15%;
                        z-index: 1;
                    }
                }
                .art-painting{
                    position: relative;
                    .image-box{
                        .displacement-icons-box{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            .displacement-icon{
                                font-size: 50px;
                                background-color: rgba(255, 255, 255, .5);
                                &.displacement-vertical{
                                    animation: displacementToUpAndDown 2s ease 0s infinite both;
                                    @keyframes displacementToUpAndDown {
                                        0%{
                                            transform: translateY(20px);
                                        }
                                        50%{
                                            transform: translateY(-20px);
                                        }
                                        100%{
                                            transform: translateY(20px);
                                        }
                                    }
                                }
                                &.displacement-horizontal{
                                    animation: displacementToLeftAndRight 2s ease 0s infinite both;
                                    @keyframes displacementToLeftAndRight {
                                        0%{
                                            transform: translateX(20px);
                                        }
                                        50%{
                                            transform: translateX(-20px);
                                        }
                                        100%{
                                            transform: translateX(20px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .image-before-processing-box{
                    .select-image-box{
                        .file-label{
                            border: 2px dashed #CCC;
                            position: relative;
                            cursor: pointer;
                            width: 100%;
                            height: 150px;
                            background-color: #EEE;
                            .upload-image-icon{
                                font-size: 18px;
                            }
                        }
                        input[type = "file"] {
                            visibility: hidden;
                            height: 0;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                        .drop-file-box{
                            cursor: pointer;
                            width: 100%;
                            height: 150px;
                            background-color: #EEE;
                            border: 2px dashed #000;
                        }
                    }
                    .downloaded-image-box{
                        width: 200px;
                        position: relative;
                        .downloaded-image{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .close-icon{
                        position: absolute;
                        right: -15px;
                        font-size: 28px;
                        top: -15px;
                        z-index: 2;
                        cursor: pointer;
                    }
                }
                .art-painting-options{
                    height: 400px;
                    overflow-y: scroll;
                    .option-section-name{
                        font-size: 14px;
                    }
                    .categories{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                            .category-box{
                                cursor: pointer;
                                .category-image{
                                    height: 60px;
                                    border: 2px solid;
                                }
                                .category-name{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .styles{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                        }
                        .style-box{
                            cursor: pointer;
                            .style-image{
                                height: 60px;
                                border: 2px solid;
                            }
                            .style-name{
                                font-size: 13px;
                            }
                        }
                    }
                    .displaying-art-painting-options{
                        .art-names-list{
                            border-bottom: 1px solid #CCC;
                            font-size: 14px;
                            li{
                                cursor: pointer;
                                &:hover{
                                    border-bottom: 3px solid #CCC;
                                }
                            }
                        }
                        .positions-list{
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                            gap: 10px;
                            li{
                                cursor: pointer;
                                border: 1px solid #CCC;
                                font-size: 14px;
                                height: 60px;
                            }
                        }
                        .sizes-list{
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
                            gap: 10px;
                            li{
                                cursor: pointer;
                                border: 1px solid #CCC;
                                font-size: 14px;
                                height: 80px;
                                line-height: 40px;
                            }
                        }
                        .white-borders-list{
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
                            gap: 10px;
                            li{
                                cursor: pointer;
                                border: 1px solid #CCC;
                                font-size: 14px;
                                height: 75px;
                                line-height: 75px;
                            }
                        }
                        .framed-list{
                            display: grid;
                            grid-auto-flow: column;
                            gap: 15px;
                            overflow-x: auto;
                            li{
                                cursor: pointer;
                                border: 1px solid #CCC;
                                width: 110px;
                                height: 105px;
                                font-size: 12px;
                                &:first-child{
                                    line-height: 100px;
                                }
                                img{
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            }
            .add-to-cart-box{
                .quantity{
                    font-size: 13px;
                }
                .add-to-cart-managment-btn{
                    font-size: 13px;
                }
            }
            .generated-images{
                background-color: #EEE;
                box-shadow: 1px 1px 5px #000;
                .generated-images-list{
                    display: grid;
                    grid-auto-flow: column;
                    gap: 30px;
                    overflow-x: auto;
                    align-items: center;
                    .generated-images-item{
                        cursor: pointer;
                        .generated-image{
                            width: inherit;
                            height: inherit;
                        }
                    }
                }
            }
            .not-find-generated-images-for-you-err{
                font-size: 14px;
            }
        }
    }
}

@keyframes popup-animation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}