.image-to-image-service .page-content .container-fluid .welcome-msg {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 50px;
  border-bottom: 3px solid #000;
  width: fit-content;
  margin: 0 auto;
}

.image-to-image-service .page-content .container-fluid .row .art-painting {
  position: relative;
}

.image-to-image-service .page-content .container-fluid .row .art-painting .image-box .displacement-icons-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.image-to-image-service .page-content .container-fluid .row .art-painting .image-box .displacement-icons-box .displacement-icon {
  font-size: 70px;
  background-color: rgba(255, 255, 255, 0.5);
}

.image-to-image-service .page-content .container-fluid .row .image-before-processing-box .select-image-box {
  border: 2px dashed #CCC;
  position: relative;
}

.image-to-image-service .page-content .container-fluid .row .image-before-processing-box .select-image-box .file-label {
  cursor: pointer;
  width: 100%;
  height: 200px;
  background-color: #EEE;
}

.image-to-image-service .page-content .container-fluid .row .image-before-processing-box .select-image-box .file-label .upload-image-icon {
  font-size: 25px;
}

.image-to-image-service .page-content .container-fluid .row .image-before-processing-box .select-image-box input[type="file"] {
  visibility: hidden;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.image-to-image-service .page-content .container-fluid .row .image-before-processing-box .downloaded-image-box {
  width: 200px;
  position: relative;
}

.image-to-image-service .page-content .container-fluid .row .image-before-processing-box .downloaded-image-box .downloaded-image {
  max-width: 100%;
  max-height: 100%;
}

.image-to-image-service .page-content .container-fluid .row .image-before-processing-box .close-icon {
  position: absolute;
  right: -15px;
  font-size: 28px;
  top: -15px;
  z-index: 2;
  cursor: pointer;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options {
  height: 400px;
  overflow-y: scroll;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .row {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .row .category-box {
  cursor: pointer;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .row .category-box .category-image {
  height: 75px;
  border: 2px solid;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .row .category-box .category-name {
  font-size: 15px;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .row {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box {
  cursor: pointer;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-image {
  height: 75px;
  border: 2px solid;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-name {
  font-size: 15px;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list {
  border-bottom: 1px solid #CCC;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list li {
  cursor: pointer;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list li:hover {
  border-bottom: 3px solid #CCC;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .positions-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 10px;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .positions-list li {
  cursor: pointer;
  border: 1px solid #CCC;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
  gap: 10px;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list li {
  cursor: pointer;
  border: 1px solid #CCC;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .white-borders-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
  gap: 10px;
  line-height: 100px;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .white-borders-list li {
  cursor: pointer;
  border: 1px solid #CCC;
  height: 100px;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .framed-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
  gap: 10px;
  overflow-x: auto;
}

.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .framed-list li {
  cursor: pointer;
  border: 1px solid #CCC;
}
