.image-to-image-service{
    .page-content{
        .container-fluid{
            .welcome-msg{
                font-family: 'Caveat', cursive;
                font-weight: bold;
                font-size: 50px;
                border-bottom: 3px solid #000;
                width: fit-content;
                margin: 0 auto;
            }
            .row{
                .downloaded-image-box{
                    width: 200px;
                    height: 200px;
                    .downloaded-image{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .art-painting-options{
                    height: 250px;
                    overflow-y: scroll;
                    .categories{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                            .category-box{
                                cursor: pointer;
                                .category-image{
                                    height: 75px;
                                    border: 2px solid;
                                }
                                .category-name{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    .styles{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: scroll;
                        }
                        .style-box{
                            cursor: pointer;
                            .style-image{
                                height: 75px;
                                border: 2px solid;
                            }
                            .style-name{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}