.image-to-image-service{
    position: relative;
    .page-content{
        .container-fluid{
            .row{
                .art-painting{
                    .image-box{
                        .displacement-icons-box{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            .displacement-icon{
                                font-size: 50px;
                                background-color: rgba(255, 255, 255, .5);
                                &.displacement-vertical{
                                    animation: displacementToUpAndDown 2s ease 0s infinite both;
                                    @keyframes displacementToUpAndDown {
                                        0%{
                                            transform: translateY(20px);
                                        }
                                        50%{
                                            transform: translateY(-20px);
                                        }
                                        100%{
                                            transform: translateY(20px);
                                        }
                                    }
                                }
                                &.displacement-horizontal{
                                    animation: displacementToLeftAndRight 2s ease 0s infinite both;
                                    @keyframes displacementToLeftAndRight {
                                        0%{
                                            transform: translateX(20px);
                                        }
                                        50%{
                                            transform: translateX(-20px);
                                        }
                                        100%{
                                            transform: translateX(20px);
                                        }
                                    }
                                }
                            }
                        }
                        .generated-image-box{
                            max-width: 100%;
                            background-repeat: no-repeat;
                        }
                    }
                    .canvas-box{
                        position: relative;
                        width: 100%;
                        max-width: 100%;
                        .displacement-icons-box{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            .displacement-icon{
                                font-size: 50px;
                                background-color: rgba(255, 255, 255, .5);
                                &.displacement-vertical{
                                    animation: displacementToUpAndDown 2s ease 0s infinite both;
                                    @keyframes displacementToUpAndDown {
                                        0%{
                                            transform: translateY(20px);
                                        }
                                        50%{
                                            transform: translateY(-20px);
                                        }
                                        100%{
                                            transform: translateY(20px);
                                        }
                                    }
                                }
                                &.displacement-horizontal{
                                    animation: displacementToLeftAndRight 2s ease 0s infinite both;
                                    @keyframes displacementToLeftAndRight {
                                        0%{
                                            transform: translateX(20px);
                                        }
                                        50%{
                                            transform: translateX(-20px);
                                        }
                                        100%{
                                            transform: translateX(20px);
                                        }
                                    }
                                }
                            }
                        }
                        .canvas-image-box{
                            position: absolute;
                            left: 50%;
                            top: 0;
                            transform: translateX(-50%);
                            z-index: -1;
                            background-size: cover;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
                .image-before-processing-box{
                    .select-image-box{
                        .file-label{
                            border: 2px dashed #CCC;
                            position: relative;
                            cursor: pointer;
                            width: 100%;
                            height: 150px;
                            background-color: #EEE;
                            @media (max-width: 767px) {
                                height: 75px;
                            }
                            h6{
                                @media (max-width: 767px) {
                                    font-size: 14px;
                                }
                            }
                            .upload-image-icon{
                                font-size: 18px;
                            }
                        }
                        input[type = "file"] {
                            visibility: hidden;
                            height: 0;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                        .drop-file-box{
                            cursor: pointer;
                            width: 100%;
                            height: 150px;
                            background-color: #EEE;
                            border: 2px dashed #000;
                        }
                    }
                    .downloaded-image-box{
                        width: 200px;
                        position: relative;
                        .downloaded-image{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .close-icon{
                        position: absolute;
                        right: -15px;
                        font-size: 28px;
                        top: -15px;
                        z-index: 2;
                        cursor: pointer;
                    }
                }
                .managment-create-image-btn{
                    @media (max-width: 767px) {
                        padding: 4px;
                        font-size: 14px;
                    }
                }
                .art-painting-options{
                    height: 400px;
                }
            }
        }
    }
}

@keyframes popup-animation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}