.home .introduction .carousel {
  min-height: inherit;
}

.home .introduction .carousel .carousel-inner {
  min-height: inherit;
}

.home .introduction .carousel .carousel-inner .carousel-item {
  min-height: inherit;
  background-size: cover;
}

.home .introduction .carousel .carousel-inner .carousel-item:first-child {
  background-image: url("../../public/images/backgrounds/1.jpg");
}

.home .introduction .carousel .carousel-inner .carousel-item:nth-child(2) {
  background-image: url("../../public/images/backgrounds/2.png");
}

.home .introduction .carousel .carousel-inner .carousel-item:last-child {
  background-image: url("../../public/images/backgrounds/3.jpg");
}

.home .introduction .carousel .carousel-inner .carousel-item .overlay {
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
}

.home .introduction .carousel .carousel-inner .carousel-item .overlay .carousel-caption {
  position: static;
  padding: 0;
  font-size: 30px;
}

.home .main-content-box {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .main-content-box main {
  font-family: 'Caveat', cursive;
  font-size: 60px;
  backdrop-filter: blur(20px);
  box-shadow: 1px 1px 20px #CCC;
  transition: 1s;
  color: #FFF;
  text-align: center;
}

.home .most-popular-products .container {
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #000;
}

.home .most-popular-products .product-box .product-image {
  max-width: 100%;
  min-height: 270px;
  max-height: 100%;
  cursor: pointer;
}

.home .contact-us {
  background-color: #f2f2f2;
}

.home .contact-us .contact-us-form textarea {
  resize: none;
  height: 200px;
}
