.home{
    .page-content{
        padding-top: 120px;
        .introduction{
            .explain-box{
                .room-image-description{
                    font-size: 14px;
                }
            }
        }
        .caption-message{
            width: 75%;
            font-size: 15px;
            margin: auto;
        }
        .services-explain{
            background-color: #EEE;
            .row{
                row-gap: 70px;
                align-items: center;
            }
            .service-explain{
                line-height: 2.5;
            }
        }
        .room-images{
            .row{
                row-gap: 20px;
            }
        }
        .more-details{
            background-color: #EEE;
            .icon{
                font-size: 50px;
            }
        }
    }
}