.home .global-header {
  position: absolute;
  height: fit-content;
  z-index: 4;
  backdrop-filter: blur(20px);
  background: none !important;
  box-shadow: -1px -1px 10px #CCC;
}

.home .introduction {
  min-height: 100vh;
  background: url("../../public/images/backgrounds/grid_noise.png");
}

.home .introduction .info-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-size: cover;
  min-height: inherit;
  transition: 3s;
}

.home .introduction .info-box:nth-child(1) {
  z-index: 3;
}

.home .introduction .info-box:nth-child(2) {
  z-index: 2;
}

.home .introduction .info-box .overlay {
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}

.home .introduction .info-box .overlay main {
  font-family: 'Caveat', cursive;
  font-size: 80px;
  backdrop-filter: blur(20px);
  box-shadow: 1px 1px 20px #CCC;
  transition: 1s;
}

.home .contact-us {
  background-image: url("../../public/images/backgrounds/grid_noise.png");
}

.home .contact-us .contact-us-form textarea {
  resize: none;
  height: 200px;
}
