.home{
    .page-content{
        padding-top: 120px;
        .caption-message{
            width: 75%;
            font-size: 15px;
            margin: auto;
        }
        .services-explain{
            .row{
                row-gap: 30px;
                align-items: center;
            }
            .service-explain{
                line-height: 2;
            }
        }
        .room-images{
            .row{
                row-gap: 20px;
            }
        }
        .more-details{
            background-color: #EEE;
            .icon{
                font-size: 50px;
            }
        }
    }
}