.checkout .page-content {
  background-color: #EEE;
  padding-top: 90px;
}

.checkout .page-content .products-details-and-managment h6 {
  font-size: 14px;
}

.checkout .page-content .summary .content {
  font-size: 14px;
}

.checkout .page-content #my-checkout-container {
  width: 74%;
}
