.checkout .page-content {
  background-color: #EEE;
  padding-top: 90px;
}

.checkout .page-content .products-details-and-managment {
  width: 75%;
  margin: 0 auto;
}

.checkout .page-content .products-details-and-managment h6 {
  font-size: 14px;
}

@media (max-width: 767px) {
  .checkout .page-content .products-details-and-managment h6 {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .checkout .page-content .products-details-and-managment {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .checkout .page-content .products-details-and-managment {
    width: 100%;
  }
}

.checkout .page-content .summary {
  width: 75%;
  margin: 0 auto;
}

.checkout .page-content .summary .content {
  font-size: 14px;
}

@media (max-width: 767px) {
  .checkout .page-content .summary .content {
    text-align: center !important;
  }
  .checkout .page-content .summary .content:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .checkout .page-content .summary {
    width: 100%;
  }
}

.checkout .page-content #my-checkout-container {
  width: 74%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .checkout .page-content #my-checkout-container {
    width: 100%;
    padding: 20px;
  }
}
