.checkout{
    .page-content{
        background-color: #EEE;
        padding-top: 90px;
        .products-details-and-managment{
            h6{
                font-size: 14px;
            }
        }
        .summary{
            .content{
                font-size: 14px;
            }
        }
        #my-checkout-container{
            width: 74%;
        }
    }
}