.header .container .navbar-brand {
  color: #FFF;
}

.header .container .nav-item .nav-link {
  color: #FFF;
}

.header .container .nav-item .nav-link .icon {
  font-size: 20px;
}

.header .container .nav-item .search-icon {
  font-size: 30px;
  cursor: pointer;
}

.header .container .nav-item .search-icon:hover {
  font-size: 45px;
}
