.global-header {
    .navbar{
        background-color: #FFF;
        border-bottom: 1px solid #CCC;
        .container-fluid{
            .navbar-brand{
                color: #000;
                font-size: 18px;
            }
            .nav-item{
                &.auth-item{
                    border-radius: 4px;
                }
                &.sign-out-btn{
                    cursor: pointer;
                }
                &.dropdown{
                    .dropdown-menu{
                        .dropdown-item{
                            font-size: 14px;
                        }
                    }
                }
                .nav-link{
                    color: #000;
                    font-size: 13px;
                    &.show-all-products-btn{
                        position: relative;
                        .cart-icon, .close-all-product-managment-box{
                            font-size: 20px;
                        }
                        .total-products-count-box{
                            position: absolute;
                            right: 0;
                            top: -10px;
                            background-color: #000;
                            width: 20px;
                            height: 20px;
                            color: #FFF;
                            border-radius: 50%;
                        }
                        .all-products-managment-box{
                            position: absolute;
                            right: 0;
                            top: 120%;
                            width: 500px;
                            max-height: 500px;
                            overflow-x: hidden;
                            overflow-y: auto;
                            border-radius: 5px;
                            z-index: 1001;
                            border: 3px solid;
                            > .row{
                                border-bottom: 1px solid #CCC;
                            }
                            background-color: #FFF;
                            .quantity-control-icon{
                                cursor: pointer;
                                border: 2px solid #CCC;
                                border-radius: 50%;
                                width: 25px;
                                height: 25px;
                                line-height: 25px;
                                &:hover{
                                    background-color: #EEE;
                                }
                            }
                            .trash-icon{
                                cursor: pointer;
                                font-size: 22px;
                            }
                            .not-found-any-products-alert-box{
                                background-color: #FFF;
                                height: 100%;
                                .cart-icon{
                                    font-size: 100px;
                                }
                            }
                            .go-to-checkout-managment-btn{
                                font-size: 14px;
                            }
                        }
                    }
                }
                &:hover{
                    background-color: #DDD;
                    border-radius: 4px;
                }
            }
        }
    }
}