.global-header .top-header {
  border-bottom: 1px solid #CCC;
}

.global-header .top-header .navbar .container .navbar-brand {
  color: #000;
}

.global-header .top-header .navbar .container .nav-item.auth-item {
  border-radius: 4px;
}

.global-header .top-header .navbar .container .nav-item .nav-link {
  color: #000;
}

.global-header .top-header .navbar .container .nav-item:hover {
  background-color: #DDD;
  border-radius: 4px;
}

.global-header .bottom-header {
  background-color: #f2f2f2;
}

.global-header .bottom-header .website-explain-list {
  gap: 15px;
}
