.global-header .top-header {
  border-bottom: 1px solid #CCC;
}

.global-header .top-header .navbar .container-fluid .navbar-brand {
  color: #000;
}

.global-header .top-header .navbar .container-fluid .nav-item.auth-item {
  border-radius: 4px;
}

.global-header .top-header .navbar .container-fluid .nav-item.sign-out-btn {
  cursor: pointer;
}

.global-header .top-header .navbar .container-fluid .nav-item .nav-link {
  color: #000;
}

.global-header .top-header .navbar .container-fluid .nav-item:hover {
  background-color: #DDD;
  border-radius: 4px;
}

.global-header .bottom-header {
  background-color: #f2f2f2;
}

.global-header .bottom-header .website-explain-list {
  gap: 15px;
}

.global-header .bottom-header .link-item {
  position: relative;
  width: 175px;
}

.global-header .bottom-header .link-item:hover {
  background-color: #CCC;
}

.global-header .bottom-header .link-item .show-and-hide-links-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.global-header .bottom-header .link-item .links-box {
  position: absolute;
  left: 0;
  bottom: -175px;
  width: 100%;
  background-color: #FFF;
  z-index: 1;
}

.global-header .bottom-header .link-item .links-box li {
  cursor: pointer;
  transition: .3s;
}

.global-header .bottom-header .link-item .links-box li:hover {
  padding-left: 20px !important;
  background-color: #CCC;
}
