.global-header {
    .top-header{
        border-bottom: 1px solid #CCC;
        .navbar{
            .container{
                .navbar-brand{
                    color: #000;
                }
                .nav-item{
                    &.auth-item{
                        border-radius: 4px;
                    }
                    &.sign-out-btn{
                        cursor: pointer;
                    }
                    .nav-link{
                        color: #000;
                    }
                    &:hover{
                        background-color: #DDD;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .bottom-header{
        background-color: #f2f2f2;
        .website-explain-list{
            gap: 15px;
        }
        .link-item{
            &:hover{
                background-color: #CCC;
                border-radius: 4px;
            }
        }
    }
}