.generated-images-data .generated-images-data-box {
  height: calc(100vh - 250px);
  overflow: auto;
}

.generated-images-data .generated-images-data-box .generated-images-data-tabel {
  font-size: 15px;
  border: 2px solid #000;
  background-color: #FFF;
  width: 100%;
}

.generated-images-data .generated-images-data-box .generated-images-data-tabel th, .generated-images-data .generated-images-data-box .generated-images-data-tabel td {
  border: 2px solid #000;
  padding: 10px;
}
