.product-prices-managment .product-data-box {
  height: calc(100vh - 250px);
  overflow: auto;
}

.product-prices-managment .product-data-box .product-data-tabel {
  font-size: 15px;
  border: 2px solid #000;
  background-color: #FFF;
  width: 100%;
}

.product-prices-managment .product-data-box .product-data-tabel th, .product-prices-managment .product-data-box .product-data-tabel td {
  border: 2px solid #000;
  padding: 10px;
}
