.page-footer {
  position: relative;
  left: 60px;
  bottom: 0;
  width: calc(100vw - 77px);
}

.page-footer .social-media-list {
  gap: 30px;
}

.page-footer .social-media-list .social-link-item .link {
  background-color: #222;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 28px;
  border-radius: 2px;
  transition: .5s;
}

.page-footer .social-media-list .social-link-item .link:hover {
  background-color: red;
  color: #FFF;
}

.page-footer .info-box {
  gap: 30px;
}

.page-footer .info-box .info-icon {
  font-size: 30px;
}

.page-footer .page-names-list .page-name-item a:hover {
  color: red;
  font-weight: bold;
}
