.orders-managment .orders-data-box {
  height: calc(100vh - 250px);
  overflow: auto;
}

.orders-managment .orders-data-box .orders-data-table {
  font-size: 15px;
  border: 2px solid #000;
  background-color: #FFF;
  width: 100%;
}

.orders-managment .orders-data-box .orders-data-table th, .orders-managment .orders-data-box .orders-data-table td {
  border: 2px solid #000;
  padding: 10px;
}

.orders-managment .orders-data-box .orders-data-table .select-order-status {
  width: max-content;
}

.orders-managment .pagination .pagination-icon {
  font-size: 30px;
  cursor: pointer;
}

.orders-managment .pagination .pagination-icon:hover {
  background-color: #dc3545;
  color: #FFF;
  font-size: 33px;
}

.orders-managment .pagination .pagination-button {
  background: #DDD;
}

.orders-managment .pagination .pagination-button.selection {
  background-color: #dc3545;
  color: #FFF;
}
