.available-products .custom-container .available-products-box .product-box .image-box.framed-image-box {
  padding: 30px;
  border: 12px solid #222;
}

.available-products .custom-container .available-products-box .product-box .prints-image {
  width: 100%;
}

.available-products .custom-container .available-products-box .product-box .prints-image.canvas-prints-image {
  --x: 10px;
  --y: 13px;
  --o: 0px;
  clip-path: polygon(0 calc(var(--x) + var(--y)), var(--y) var(--y), calc(100% - var(--y)) var(--y), calc(100% - var(--y)) calc(100% - var(--y)), var(--y) calc(100% - var(--y)), 0 calc(100% - var(--x) - var(--y)));
  /* -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0.7) var(--y), #fff 0); */
  /* mask: linear-gradient(to right, rgba(0, 0, 0, 0.3) var(--y), #fff 0); */
  transform-origin: left;
  transform: perspective(1000px) rotateY(8deg);
  outline: calc(var(--y) + var(--o)) solid rgba(0, 0, 0, 0.2);
  outline-offset: calc(-1*(var(--y) + var(--o)));
}
