.products .product-search-form .search-input-box {
  position: relative;
}

.products .product-search-form .search-input-box .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
}

.products .product-search-form .search-input-box .product-search-input {
  text-indent: 27px;
}

.products .product-search-form .search-input-box .reset-btn-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
}

.products .required-products .container .row {
  row-gap: 30px;
}

.products .required-products .not-found-products-err-box {
  height: 300px;
  background-color: #EEE;
  border: 1px solid;
}

.products .required-products .wait-msg-box {
  height: 300px;
}

.products .required-products .product-box:hover {
  background-color: #EEE;
  border: 2px solid;
  transform: scaleY(10px);
}

.products .required-products .product-box .product-image {
  max-width: 100%;
  min-height: 270px;
  max-height: 100%;
  cursor: pointer;
}

.wait-loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: #FFF;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}

.wait-loader::after, .wait-loader::before {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #000;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}

.wait-loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: #000;
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: #000;
  }
}
