.products-proceses .welcome-msg {
  font-size: 40px;
}

.products-proceses .products-box {
  height: calc(100vh - 250px);
  overflow: auto;
}

.products-proceses .products-box .products-table {
  font-size: 15px;
  border: 2px solid #000;
  background-color: #FFF;
  width: 100%;
}

.products-proceses .products-box .products-table th, .products-proceses .products-box .products-table td {
  border: 2px solid #000;
  padding: 10px;
}
