* {
  font-family: 'Poppins', 'Courier New';
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #FFF;
  text-decoration: none;
}

.custom-container {
  width: 95%;
  margin: auto;
}
