*{
    font-family: 'Poppins', 'Courier New';
    perspective: 500px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

.custom-container{
    width: 95%;
    margin: auto;
}

.generate-images-from-text-form{
    .search-btn{
        .search-icon{
            font-size: 60px;
            color: #198754;
            transition: font-size .3s;
            &:hover{
                font-size: 70px;
            }
        }
    }
}