*{
    font-family: 'Montserrat', sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track{
    background-color: #EEE;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #CCC;
}

.loader {
    position: relative;
    width: 85px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
}

@keyframes rikSpikeRoll {
    0% { background-size: 10px 3px;}
    16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
    66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
    83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
    100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}

.prints-image{
    width: 100%;
}

.canvas-image, .minimize-canvas-image{
    clip-path: polygon(0 calc(var(--x) + var(--y)), var(--y) var(--y),
            calc(100% - var(--y)) var(--y), calc(100% - var(--y)) calc(100% - var(--y)),
            var(--y) calc(100% - var(--y)), 0 calc(100% - var(--x) - var(--y)));
    transform-origin: left;
    transform: perspective(1000px) rotateY(8deg);
    outline: calc(var(--y) + var(--o)) solid rgba(0, 0, 0, 0.2);
    outline-offset: calc(-1*(var(--y) + var(--o)));
}

.canvas-image{
    --x: 10px;
    --y: 13px;
    --o: 0px;
}

.minimize-canvas-image{
    --x: 10px;
    --y: 4px;
    --o: 4px;
}

.admin-panel,
.products-manager,
.categories-manager,
.text-to-image-manager,
.text-to-image-categories-manager,
.text-to-image-styles-manager,
.update-and-delete-products,
.add-new-categoty,
.update-and-delete-category-info,
.update-category-styles-info,
.image-to-image-manager,
.image-to-image-categories-manager,
.image-to-image-styles-manager,
.add-new-sub-category,
.add-new-sub-category-from-sub-category,
.users-manager,
.generated-images-data,
.product-prices,
.orders-manager,
.order-details,
.add-new-returned-order,
.returned-orders-manager,
.returned-order-details{
    .content {
        background-color: #EEE;
        min-height: calc(100vh - 72px);
        .welcome-msg{
            border-bottom: 3px solid;
            width: fit-content;
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loading-box{
    background-color: #263038;
    height: 100vh;
}

.error-msg-box{
    border: 2px solid #000;
    animation: popup-animation 2s ease-in-out 0s 1;
    .error-icon{
        font-size: 80px;
        color: red;
    }
    .error-msg{
        line-height: 1.5;
    }
}

.generated-images{
    background-color: #EEE;
    @media (max-width: 991px) {
        gap: 10px;
    }
    .generated-images-list{
        display: flex;
        gap: 30px;
        align-items: center;
        overflow-x: auto;
        .generated-images-item{
            cursor: pointer;
            background-size: cover;
            background-position: center;
            .generated-image{
                width: inherit;
                height: inherit;
                &.selected-image{
                    border: 4px solid #000;
                }
            }
        }
    }
}

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.5);
    z-index: 3;
    .rest-generated-images-box{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 75%;
        background-color: #CCC;
        .close-overlay-icon{
            position: absolute;
            right: -15px;
            top: -15px;
            font-size: 30px;
            background-color: red;
            cursor: pointer;
            border-radius: 50%;
            padding: 5px;
        }
    }
}

.welcome-msg{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 3px solid #000;
    width: fit-content;
    margin: 0 auto;
    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 7px !important;
        margin-bottom: 15px !important;
    }
}

.add-to-cart-box{
    .quantity{
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        font-size: 13px;
    }
    .add-to-cart-managment-btn{
        font-size: 13px;
    }
}

.not-find-generated-images-for-you-err{
    font-size: 14px;
}

.quantity-control-icon{
    cursor: pointer;
    border: 2px solid #CCC;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    &:hover{
        background-color: #EEE;
    }
}

.trash-icon{
    cursor: pointer;
    font-size: 22px;
}

.not-found-any-products-alert-box{
    background-color: #FFF;
    height: 300px;
    .cart-icon{
        font-size: 100px;
    }
}

.text-to-image-service,
.image-to-image-service {
    .page-content{
        padding-top: 70px;
        .container-fluid{
            .row{
                .art-painting{
                    position: relative;
                    .frame-image-box{
                        max-width: 100%;
                        img{
                            max-width: 100%;
                        }
                    }
                    .generated-image-box, .image-box{
                        position: absolute;
                        z-index: -1;
                    }
                }
                .art-painting-options{
                    overflow-y: scroll;
                    .option-section-name{
                        font-size: 14px;
                    }
                    .categories{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: auto;
                            .category-box{
                                cursor: pointer;
                                .category-image{
                                    height: 60px;
                                    border: 2px solid;
                                    @media (max-width: 767px) {
                                        width: 50px;
                                        height: 50px;
                                    }
                                }
                                .category-name{
                                    font-size: 13px;
                                    @media (max-width: 767px) {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                    .styles{
                        .row{
                            flex-wrap: nowrap;
                            overflow-x: auto;
                        }
                        .style-box{
                            cursor: pointer;
                            .style-image{
                                height: 60px;
                                border: 2px solid;
                                @media (max-width: 767px) {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .style-name{
                                font-size: 13px;
                                @media (max-width: 767px) {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    .art-name{
                        font-size: 20px;
                        @media (max-width: 767px) {
                            font-size: 17px;
                        }
                    }
                    .displaying-art-painting-options{
                        .art-names-list{
                            border-bottom: 1px solid #CCC;
                            font-size: 14px;
                            @media (max-width: 767px) {
                                font-size: 12px;
                            }
                            li{
                                cursor: pointer;
                                &:hover{
                                    border-bottom: 3px solid #CCC;
                                }
                            }
                        }
                        .art-painting-options-list{
                            display: grid;
                            gap: 15px;
                            overflow-y: auto;
                            span{
                                cursor: pointer;
                                border: 1px solid #CCC;
                                font-size: 14px;
                                @media (max-width: 767px) {
                                    font-size: 12px;
                                }
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                flex-direction: column;
                                h6{
                                    font-size: 12px;
                                }
                                img{
                                    display: block;
                                    margin: 0 auto;
                                    width: 30px;
                                }
                            }
                        }
                        .positions-list{
                            grid-template-columns: repeat(3, auto);
                        }
                        .positions-list, .white-borders-list{
                            span{
                                height: 55px;
                            }
                        }
                        .sizes-list{
                            grid-template-columns: repeat(4, auto);
                            span{
                                height: 70px;
                            }
                        }
                        .white-borders-list{
                            grid-template-columns: repeat(2, auto);
                        }
                        .frames-list{
                            grid-template-columns: repeat(9, 100px);
                            grid-auto-flow: column;
                            @media(max-width: 991px){
                                grid-template-columns: repeat(9, 75px);
                            }
                            span{
                                height: 90px;
                            }
                        }
                    }
                }
                .room-image-box{
                    position: relative;
                    max-width: 100%;
                    width: 600px;
                    img{
                        width: 100%;
                        max-width: 100%;
                    }
                    .art-painting{
                        position: absolute;
                        left: 25%;
                        top: 15%;
                        z-index: 1;
                    }
                }
                .carousel {
                    .carousel-indicators{
                        height: 10px;
                        button:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                    .carousel-control-prev, .carousel-control-next{
                        display: none;
                    }
                }
            }
        }
    }
}

.painting-details{
    background-color: #EEE;
    .painting-details-buttons-list{
        .painting-details-button-item{
            background-color: #CCC;
            cursor: pointer;
            border-right: 2px solid #FFF;
            font-size: 13px;
            &:hover, &.selected{
                background: #000;
                color: #FFF;
            }
        }
    }
    .content{
        line-height: 2;
    }
    p{
        font-size: 14px;
    }
    .accordion-button{
        font-size: 14px;
    }
}

.inspiration{
    .carousel {
        height: 200px;
        .carousel-inner{
            height: 100%;
            .carousel-item{
                height: 100%;
                .inspiration-image-box{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.text-to-image-service,
.image-to-image-service,
.privacy-policy,
.selling-policy,
.return-policy{
    .page-content{
        padding-top: 80px;
    }
}

@keyframes popup-animation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}