*{
    font-family: 'Montserrat', sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

.loader {
    position: relative;
    width: 85px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
}

.loading-box{
    height: 100vh;
}

.loading-box, .error-msg-on-loading-the-page{
    background-color: #263038;
}

.error-msg-on-loading-the-page{
    min-height: calc(100vh - 59px);
    margin-top: 59px;
    .error-icon{
        font-size: 120px;
    }
    .error-msg-on-loading-box{
        font-size: 30px;
    }
}

.prints-image{
    width: 100%;
}

.canvas-image, .minimize-canvas-image{
    clip-path: polygon(0 calc(var(--x) + var(--y)), var(--y) var(--y),
            calc(100% - var(--y)) var(--y), calc(100% - var(--y)) calc(100% - var(--y)),
            var(--y) calc(100% - var(--y)), 0 calc(100% - var(--x) - var(--y)));
    transform-origin: left;
    transform: perspective(1000px) rotateY(8deg);
    outline: calc(var(--y) + var(--o)) solid rgba(0, 0, 0, 0.2);
    outline-offset: calc(-1*(var(--y) + var(--o)));
}

.canvas-image{
    --x: 10px;
    --y: 13px;
    --o: 0px;
}

.minimize-canvas-image{
    --x: 10px;
    --y: 4px;
    --o: 4px;
}

.admin-panel,
.text-to-image-managment,
.text-to-image-categories-managment,
.text-to-image-styles-managment,
.update-category-styles-info,
.image-to-image-managment,
.image-to-image-categories-managment,
.image-to-image-styles-managment,
.product-prices-managment,
.orders-managment,
.order-details,
.add-new-returned-order,
.returned-orders-managment,
.returned-order-details,
.add-new-category,
.update-and-delete-category-info,
.add-new-style,
.generated-images-managment{
    .content {
        background-color: #EEE;
        min-height: calc(100vh - 72px);
        .welcome-msg{
            font-size: 30px;
        }
        .manager-link{
            font-size: 14px;
        }
        .add-new-category-form,
        .add-new-style-form, .select-category-form {
            input, select, textarea, button{
                font-size: 14px;
            }
        }
    }
}

.error-msg-box{
    border: 2px solid #000;
    animation: popup-animation 2s ease-in-out 0s 1;
    .error-icon{
        font-size: 80px;
        color: red;
    }
    .error-msg{
        line-height: 1.5;
    }
}

.generated-images{
    background-color: #EEE;
    @media (max-width: 767px) {
        padding: 10px;
        gap: 10px;
    }
    .slick-slider{
        .slick-track{
            display: flex;
            align-items: center;
        }
        .slick-prev, .slick-next{
            transform: translateY(-50%);
        }
    }
}

.generated-images-list{
    display: flex;
    gap: 30px;
    align-items: center;
    overflow-x: auto;
}

.generated-images-item{
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;
    .delete-icon{
        position: absolute;
        right: 50%;
        top: 110%;
        transform: translateX(50%);
        font-size: 30px;
        color: #F00;
    }
    .generated-image{
        width: inherit;
        height: inherit;
        &.selected-image{
            border: 4px solid #000;
        }
    }
    &.selected-image{
        border: 4px solid #000;
    }
}

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.5);
    z-index: 3;
    .rest-generated-images-box{
        position: fixed;
        left: 50%;
        top: 56%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 75%;
        background-color: #CCC;
        .close-overlay-icon{
            position: absolute;
            right: -15px;
            top: -15px;
            font-size: 30px;
            background-color: red;
            cursor: pointer;
            border-radius: 50%;
            padding: 5px;
        }
    }
}

.welcome-msg{
    font-weight: bold;
    border-bottom: 3px solid;
    width: fit-content;
    margin: 0 auto;
    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 7px !important;
        margin-bottom: 15px !important;
    }
}

.add-to-cart-box{
    .quantity{
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        font-size: 13px;
    }
    .add-to-cart-managment-btn{
        font-size: 13px;
    }
}

.not-find-generated-images-for-you-err,
.order-not-found-error{
    font-size: 14px;
}

.quantity-control-icon{
    cursor: pointer;
    border: 2px solid #CCC;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    &:hover{
        background-color: #EEE;
    }
}

.trash-icon{
    cursor: pointer;
    font-size: 22px;
}

.not-found-any-products-alert-box{
    background-color: #FFF;
    height: 300px;
    .cart-icon{
        font-size: 100px;
    }
}

.text-to-image-service,
.image-to-image-service,
.face-swap-service {
    .page-content{
        padding-top: 90px;
        .container-fluid{
            .welcome-msg{
                font-size: 15px;
                line-height: 1.7;
            }
            .row{
                @media (max-width: 991px) {
                    gap: 30px;
                }
                .minimize-images{
                    position: sticky;
                    top: 90px;
                }
                .art-painting{
                    .frame-image-box{
                        max-width: 100%;
                        img{
                            max-width: 100%;
                        }
                    }
                    .generated-image-box, .image-box{
                        position: absolute;
                        z-index: -1;
                    }
                }
                .art-painting-options{
                    .option-section-name{
                        font-size: 14px;
                    }
                    .section-name-and-control-arrows{
                        cursor: pointer;
                        .arrow-icon{
                            font-size: 23px;
                            font-weight: bold;
                        }
                    }
                    .categories{
                        .category-box{
                            cursor: pointer;
                            .category-image{
                                height: 60px;
                                border: 2px solid;
                                @media (max-width: 767px) {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .category-name{
                                font-size: 12px;
                                @media (max-width: 767px) {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    .styles{
                        .style-box{
                            cursor: pointer;
                            .style-image{
                                height: 60px;
                                border: 2px solid;
                                @media (max-width: 767px) {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .style-name{
                                font-size: 12px;
                                @media (max-width: 767px) {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    .art-painting-options-list{
                        display: grid;
                        gap: 15px;
                        overflow-y: auto;
                        span{
                            cursor: pointer;
                            border: 1px solid #CCC;
                            font-size: 14px;
                            @media (max-width: 767px) {
                                font-size: 12px;
                            }
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            flex-direction: column;
                            h6{
                                font-size: 12px;
                            }
                            img{
                                display: block;
                                margin: 0 auto;
                                width: 30px;
                            }
                        }
                    }
                    .categories-list{
                        grid-template-columns: repeat(4, calc(100% / 4 - 12px));
                        span{
                            position: relative;
                            height: 60px;
                        }
                    }
                    .displaying-art-painting-options{
                        .art-names-list{
                            border-bottom: 1px solid #CCC;
                            font-size: 14px;
                            @media (max-width: 767px) {
                                font-size: 12px;
                            }
                            li{
                                cursor: pointer;
                                &:hover{
                                    border-bottom: 3px solid #CCC;
                                }
                            }
                        }
                        .positions-list{
                            grid-template-columns: repeat(3, calc(100% / 3 - 10px));
                        }
                        .positions-list, .white-borders-list{
                            span{
                                height: 55px;
                            }
                        }
                        .sizes-list{
                            grid-template-columns: repeat(4, calc(100% / 4 - 12px));
                            span{
                                position: relative;
                                height: 70px;
                            }
                            .popular-box{
                                position: absolute;
                                top: 5px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        .white-borders-list{
                            grid-template-columns: repeat(2, calc(100% / 2 - 8px));
                        }
                        .frames-list{
                            grid-template-columns: repeat(9, 110px);
                            grid-auto-flow: column;
                            span{
                                height: 130px;
                                img{
                                    border-radius: 50%;
                                    width: 70px;
                                    margin-bottom: 10px;
                                }
                                h6{
                                    text-transform: lowercase;
                                    &::first-letter{
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                }
                .room-image-box{
                    position: relative;
                    max-width: 100%;
                    width: 600px;
                    img{
                        width: 100%;
                        max-width: 100%;
                    }
                    .art-painting{
                        position: absolute;
                        left: 25%;
                        top: 15%;
                        z-index: 1;
                    }
                }
                .carousel {
                    .carousel-indicators{
                        height: 10px;
                        button:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                    .carousel-control-prev, .carousel-control-next{
                        display: none;
                    }
                }
            }
            ol{
                li{
                    line-height: 2;
                    margin-bottom: 5px;
                    font-size: 14px;
                }
            }
        }
    }
}

.image-to-image-service,
.face-swap-service{
    .image-before-processing-box{
        .select-image-box{
            .file-label{
                border: 2px dashed #CCC;
                position: relative;
                cursor: pointer;
                width: 100%;
                height: 75px;
                background-color: #EEE;
                h6{
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }
                .upload-image-icon{
                    font-size: 18px;
                }
            }
            input[type = "file"] {
                visibility: hidden;
                height: 0;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            .drop-file-box{
                cursor: pointer;
                width: 100%;
                height: 150px;
                background-color: #EEE;
                border: 2px dashed #000;
            }
        }
        .downloaded-image-box{
            width: 200px;
            position: relative;
            .downloaded-image{
                max-width: 100%;
                max-height: 100%;
            }
        }
        .close-icon{
            position: absolute;
            right: -15px;
            font-size: 28px;
            top: -15px;
            z-index: 2;
            cursor: pointer;
        }
    }
}

.text-to-image-service,
.face-swap-service{
    .page-content{
        .canvas-image-box{
            img{
                max-width: 100%;
            }
        }
    }
}

.painting-details{
    background-color: #EEE;
    font-size: 13px;
    text-align: justify;
    .painting-details-buttons-list{
        .painting-details-button-item{
            background-color: #CCC;
            cursor: pointer;
            border-right: 2px solid #FFF;
            font-size: 13px;
            &:hover, &.selected{
                background: #000;
                color: #FFF;
            }
        }
    }
    .content{
        line-height: 2;
    }
    p{
        font-size: 13px;
    }
    .accordion-button{
        font-size: 13px;
    }
    .accordion{
        li{
            line-height: 2;
        }
    }
    .product-information-box{
        ul{
            list-style-type: square;
            list-style-position: inside;
        }
    }
}

.inspiration{
    .row{
        row-gap: 30px;
    }
}

.policy-page{
    .page-content{
        padding: {
            top: 80px;
            bottom: 50px;
        };
    }
    .policy-explain{
        @media (max-width: 767px) {
            width: 100% !important;
        }
        .policy-table{
            th, td{
                border: 1px solid;
                padding: 10px;
            }
        }
    }
    a:not(.nav-link){
        text-decoration: underline;
        color: #494949;
        &:hover{
            color: gray;
        }
    }
    p{
        line-height: 1.7;
    }
    .long-heading{
        line-height: 2;
    }
}

.pagination{
    .current-page-number-and-count-of-pages{
        font-size: 14px;
    }
    .pagination-icon{
        font-size: 25px;
        cursor: pointer;
        &:hover{
            background-color: #dc3545;
            color: #FFF;
            font-size: 25px;
        }
    }
    .pagination-button{
        background: #DDD;
        font-size: 14px;
        &.selection{
            background-color: #dc3545;
            color: #FFF;
        }
    }
    .navigate-to-specific-page-form{
        .page-number-input{
            font-size: 14px;
        }
    }
}

.filters{
    .row{
        row-gap: 10px;
        h6, input, select{
            font-size: 14px;
        }
    }
}

.data-box{
    height: calc(100vh - 250px);
    overflow: scroll;
    .data-table{
        border: 2px solid #000;
        background-color: #FFF;
        width: 100%;
        th, td{
            border: 2px solid #000;
            padding: 10px;
            font-size: 13px;
        }
        input, select, textarea, button, a, h6{
            font-size: 13px;
        }
        &.long-width-table{
            width: 150%;
            textarea{
                height: 200px;
                resize: none;
            }
        }
    }
}

.customer-info{
    .info{
        font-size: 14px;
    }
}

.policy-list{
    list-style: disc outside;
    li{
        line-height: 1.7;
    }
}

.loader-table-box{
    height: 200px;
}

.loader-table-data{
    width: 48px;
    height: 48px;
    border: 5px dotted #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.slick-slider{
    padding: {
        left: 30px;
        right: 30px;
    };
    .slick-prev{
        left: 0;
    }
    .slick-next{
        right: 0;
    }
    margin-bottom: 0 !important;
    .slick-prev, .slick-next{
        background-color: #FFF;
        border-radius: 50%;
        z-index: 1;
        width: 30px;
        height: 30px;
        transform: translateY(calc(-50% - 15px));
        &::before{
            opacity: 1;
            color: #000;
            font-size: 30px;
        }
    }
}

.accordion{
    .accordion-item{
        .accordion-button:focus{
            border: 2px solid #000;
            outline: none;
            box-shadow: none;
        }
    }
}

.wait-generating-image{
    font-size: 48px;
    color: #000;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    &::after{
        content: '';
        height: 4px;
        width:0%;
        display: block;
        background: #000;
        animation: 5s lineGrow linear infinite;
    }
}

@keyframes lineGrow {
    to{
        width: 100%;
    }
}

@keyframes rikSpikeRoll {
    0% { background-size: 10px 3px;}
    16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
    66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
    83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
    100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes popup-animation {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}