* {
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #FFF;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #EEE;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #CCC;
}

.loader {
  position: relative;
  width: 85px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}

.loading-box {
  height: 100vh;
}

.error-msg-on-loading-the-page {
  min-height: calc(100vh - 59px);
  margin-top: 59px;
}

.loading-box, .error-msg-on-loading-the-page {
  background-color: #263038;
}

.error-msg-on-loading-the-page .error-icon {
  font-size: 120px;
}

.error-msg-on-loading-the-page .error-msg-on-loading-box {
  font-size: 30px;
}

.prints-image {
  width: 100%;
}

.canvas-image, .minimize-canvas-image {
  clip-path: polygon(0 calc(var(--x) + var(--y)), var(--y) var(--y), calc(100% - var(--y)) var(--y), calc(100% - var(--y)) calc(100% - var(--y)), var(--y) calc(100% - var(--y)), 0 calc(100% - var(--x) - var(--y)));
  transform-origin: left;
  transform: perspective(1000px) rotateY(8deg);
  outline: calc(var(--y) + var(--o)) solid rgba(0, 0, 0, 0.2);
  outline-offset: calc(-1*(var(--y) + var(--o)));
}

.canvas-image {
  --x: 10px;
  --y: 13px;
  --o: 0px;
}

.minimize-canvas-image {
  --x: 10px;
  --y: 4px;
  --o: 4px;
}

.admin-panel .content,
.text-to-image-managment .content,
.text-to-image-categories-managment .content,
.text-to-image-styles-managment .content,
.update-category-styles-info .content,
.image-to-image-managment .content,
.image-to-image-categories-managment .content,
.image-to-image-styles-managment .content,
.product-prices-managment .content,
.orders-managment .content,
.order-details .content,
.add-new-returned-order .content,
.returned-orders-managment .content,
.returned-order-details .content,
.add-new-category .content,
.update-and-delete-category-info .content,
.add-new-style .content,
.generated-images-managment .content {
  background-color: #EEE;
  min-height: calc(100vh - 72px);
}

.admin-panel .content .welcome-msg,
.text-to-image-managment .content .welcome-msg,
.text-to-image-categories-managment .content .welcome-msg,
.text-to-image-styles-managment .content .welcome-msg,
.update-category-styles-info .content .welcome-msg,
.image-to-image-managment .content .welcome-msg,
.image-to-image-categories-managment .content .welcome-msg,
.image-to-image-styles-managment .content .welcome-msg,
.product-prices-managment .content .welcome-msg,
.orders-managment .content .welcome-msg,
.order-details .content .welcome-msg,
.add-new-returned-order .content .welcome-msg,
.returned-orders-managment .content .welcome-msg,
.returned-order-details .content .welcome-msg,
.add-new-category .content .welcome-msg,
.update-and-delete-category-info .content .welcome-msg,
.add-new-style .content .welcome-msg,
.generated-images-managment .content .welcome-msg {
  font-size: 30px;
}

.admin-panel .content .manager-link,
.text-to-image-managment .content .manager-link,
.text-to-image-categories-managment .content .manager-link,
.text-to-image-styles-managment .content .manager-link,
.update-category-styles-info .content .manager-link,
.image-to-image-managment .content .manager-link,
.image-to-image-categories-managment .content .manager-link,
.image-to-image-styles-managment .content .manager-link,
.product-prices-managment .content .manager-link,
.orders-managment .content .manager-link,
.order-details .content .manager-link,
.add-new-returned-order .content .manager-link,
.returned-orders-managment .content .manager-link,
.returned-order-details .content .manager-link,
.add-new-category .content .manager-link,
.update-and-delete-category-info .content .manager-link,
.add-new-style .content .manager-link,
.generated-images-managment .content .manager-link {
  font-size: 14px;
}

.admin-panel .content .add-new-category-form input, .admin-panel .content .add-new-category-form select, .admin-panel .content .add-new-category-form textarea, .admin-panel .content .add-new-category-form button,
.admin-panel .content .add-new-style-form input,
.admin-panel .content .add-new-style-form select,
.admin-panel .content .add-new-style-form textarea,
.admin-panel .content .add-new-style-form button, .admin-panel .content .select-category-form input, .admin-panel .content .select-category-form select, .admin-panel .content .select-category-form textarea, .admin-panel .content .select-category-form button,
.text-to-image-managment .content .add-new-category-form input,
.text-to-image-managment .content .add-new-category-form select,
.text-to-image-managment .content .add-new-category-form textarea,
.text-to-image-managment .content .add-new-category-form button,
.text-to-image-managment .content .add-new-style-form input,
.text-to-image-managment .content .add-new-style-form select,
.text-to-image-managment .content .add-new-style-form textarea,
.text-to-image-managment .content .add-new-style-form button,
.text-to-image-managment .content .select-category-form input,
.text-to-image-managment .content .select-category-form select,
.text-to-image-managment .content .select-category-form textarea,
.text-to-image-managment .content .select-category-form button,
.text-to-image-categories-managment .content .add-new-category-form input,
.text-to-image-categories-managment .content .add-new-category-form select,
.text-to-image-categories-managment .content .add-new-category-form textarea,
.text-to-image-categories-managment .content .add-new-category-form button,
.text-to-image-categories-managment .content .add-new-style-form input,
.text-to-image-categories-managment .content .add-new-style-form select,
.text-to-image-categories-managment .content .add-new-style-form textarea,
.text-to-image-categories-managment .content .add-new-style-form button,
.text-to-image-categories-managment .content .select-category-form input,
.text-to-image-categories-managment .content .select-category-form select,
.text-to-image-categories-managment .content .select-category-form textarea,
.text-to-image-categories-managment .content .select-category-form button,
.text-to-image-styles-managment .content .add-new-category-form input,
.text-to-image-styles-managment .content .add-new-category-form select,
.text-to-image-styles-managment .content .add-new-category-form textarea,
.text-to-image-styles-managment .content .add-new-category-form button,
.text-to-image-styles-managment .content .add-new-style-form input,
.text-to-image-styles-managment .content .add-new-style-form select,
.text-to-image-styles-managment .content .add-new-style-form textarea,
.text-to-image-styles-managment .content .add-new-style-form button,
.text-to-image-styles-managment .content .select-category-form input,
.text-to-image-styles-managment .content .select-category-form select,
.text-to-image-styles-managment .content .select-category-form textarea,
.text-to-image-styles-managment .content .select-category-form button,
.update-category-styles-info .content .add-new-category-form input,
.update-category-styles-info .content .add-new-category-form select,
.update-category-styles-info .content .add-new-category-form textarea,
.update-category-styles-info .content .add-new-category-form button,
.update-category-styles-info .content .add-new-style-form input,
.update-category-styles-info .content .add-new-style-form select,
.update-category-styles-info .content .add-new-style-form textarea,
.update-category-styles-info .content .add-new-style-form button,
.update-category-styles-info .content .select-category-form input,
.update-category-styles-info .content .select-category-form select,
.update-category-styles-info .content .select-category-form textarea,
.update-category-styles-info .content .select-category-form button,
.image-to-image-managment .content .add-new-category-form input,
.image-to-image-managment .content .add-new-category-form select,
.image-to-image-managment .content .add-new-category-form textarea,
.image-to-image-managment .content .add-new-category-form button,
.image-to-image-managment .content .add-new-style-form input,
.image-to-image-managment .content .add-new-style-form select,
.image-to-image-managment .content .add-new-style-form textarea,
.image-to-image-managment .content .add-new-style-form button,
.image-to-image-managment .content .select-category-form input,
.image-to-image-managment .content .select-category-form select,
.image-to-image-managment .content .select-category-form textarea,
.image-to-image-managment .content .select-category-form button,
.image-to-image-categories-managment .content .add-new-category-form input,
.image-to-image-categories-managment .content .add-new-category-form select,
.image-to-image-categories-managment .content .add-new-category-form textarea,
.image-to-image-categories-managment .content .add-new-category-form button,
.image-to-image-categories-managment .content .add-new-style-form input,
.image-to-image-categories-managment .content .add-new-style-form select,
.image-to-image-categories-managment .content .add-new-style-form textarea,
.image-to-image-categories-managment .content .add-new-style-form button,
.image-to-image-categories-managment .content .select-category-form input,
.image-to-image-categories-managment .content .select-category-form select,
.image-to-image-categories-managment .content .select-category-form textarea,
.image-to-image-categories-managment .content .select-category-form button,
.image-to-image-styles-managment .content .add-new-category-form input,
.image-to-image-styles-managment .content .add-new-category-form select,
.image-to-image-styles-managment .content .add-new-category-form textarea,
.image-to-image-styles-managment .content .add-new-category-form button,
.image-to-image-styles-managment .content .add-new-style-form input,
.image-to-image-styles-managment .content .add-new-style-form select,
.image-to-image-styles-managment .content .add-new-style-form textarea,
.image-to-image-styles-managment .content .add-new-style-form button,
.image-to-image-styles-managment .content .select-category-form input,
.image-to-image-styles-managment .content .select-category-form select,
.image-to-image-styles-managment .content .select-category-form textarea,
.image-to-image-styles-managment .content .select-category-form button,
.product-prices-managment .content .add-new-category-form input,
.product-prices-managment .content .add-new-category-form select,
.product-prices-managment .content .add-new-category-form textarea,
.product-prices-managment .content .add-new-category-form button,
.product-prices-managment .content .add-new-style-form input,
.product-prices-managment .content .add-new-style-form select,
.product-prices-managment .content .add-new-style-form textarea,
.product-prices-managment .content .add-new-style-form button,
.product-prices-managment .content .select-category-form input,
.product-prices-managment .content .select-category-form select,
.product-prices-managment .content .select-category-form textarea,
.product-prices-managment .content .select-category-form button,
.orders-managment .content .add-new-category-form input,
.orders-managment .content .add-new-category-form select,
.orders-managment .content .add-new-category-form textarea,
.orders-managment .content .add-new-category-form button,
.orders-managment .content .add-new-style-form input,
.orders-managment .content .add-new-style-form select,
.orders-managment .content .add-new-style-form textarea,
.orders-managment .content .add-new-style-form button,
.orders-managment .content .select-category-form input,
.orders-managment .content .select-category-form select,
.orders-managment .content .select-category-form textarea,
.orders-managment .content .select-category-form button,
.order-details .content .add-new-category-form input,
.order-details .content .add-new-category-form select,
.order-details .content .add-new-category-form textarea,
.order-details .content .add-new-category-form button,
.order-details .content .add-new-style-form input,
.order-details .content .add-new-style-form select,
.order-details .content .add-new-style-form textarea,
.order-details .content .add-new-style-form button,
.order-details .content .select-category-form input,
.order-details .content .select-category-form select,
.order-details .content .select-category-form textarea,
.order-details .content .select-category-form button,
.add-new-returned-order .content .add-new-category-form input,
.add-new-returned-order .content .add-new-category-form select,
.add-new-returned-order .content .add-new-category-form textarea,
.add-new-returned-order .content .add-new-category-form button,
.add-new-returned-order .content .add-new-style-form input,
.add-new-returned-order .content .add-new-style-form select,
.add-new-returned-order .content .add-new-style-form textarea,
.add-new-returned-order .content .add-new-style-form button,
.add-new-returned-order .content .select-category-form input,
.add-new-returned-order .content .select-category-form select,
.add-new-returned-order .content .select-category-form textarea,
.add-new-returned-order .content .select-category-form button,
.returned-orders-managment .content .add-new-category-form input,
.returned-orders-managment .content .add-new-category-form select,
.returned-orders-managment .content .add-new-category-form textarea,
.returned-orders-managment .content .add-new-category-form button,
.returned-orders-managment .content .add-new-style-form input,
.returned-orders-managment .content .add-new-style-form select,
.returned-orders-managment .content .add-new-style-form textarea,
.returned-orders-managment .content .add-new-style-form button,
.returned-orders-managment .content .select-category-form input,
.returned-orders-managment .content .select-category-form select,
.returned-orders-managment .content .select-category-form textarea,
.returned-orders-managment .content .select-category-form button,
.returned-order-details .content .add-new-category-form input,
.returned-order-details .content .add-new-category-form select,
.returned-order-details .content .add-new-category-form textarea,
.returned-order-details .content .add-new-category-form button,
.returned-order-details .content .add-new-style-form input,
.returned-order-details .content .add-new-style-form select,
.returned-order-details .content .add-new-style-form textarea,
.returned-order-details .content .add-new-style-form button,
.returned-order-details .content .select-category-form input,
.returned-order-details .content .select-category-form select,
.returned-order-details .content .select-category-form textarea,
.returned-order-details .content .select-category-form button,
.add-new-category .content .add-new-category-form input,
.add-new-category .content .add-new-category-form select,
.add-new-category .content .add-new-category-form textarea,
.add-new-category .content .add-new-category-form button,
.add-new-category .content .add-new-style-form input,
.add-new-category .content .add-new-style-form select,
.add-new-category .content .add-new-style-form textarea,
.add-new-category .content .add-new-style-form button,
.add-new-category .content .select-category-form input,
.add-new-category .content .select-category-form select,
.add-new-category .content .select-category-form textarea,
.add-new-category .content .select-category-form button,
.update-and-delete-category-info .content .add-new-category-form input,
.update-and-delete-category-info .content .add-new-category-form select,
.update-and-delete-category-info .content .add-new-category-form textarea,
.update-and-delete-category-info .content .add-new-category-form button,
.update-and-delete-category-info .content .add-new-style-form input,
.update-and-delete-category-info .content .add-new-style-form select,
.update-and-delete-category-info .content .add-new-style-form textarea,
.update-and-delete-category-info .content .add-new-style-form button,
.update-and-delete-category-info .content .select-category-form input,
.update-and-delete-category-info .content .select-category-form select,
.update-and-delete-category-info .content .select-category-form textarea,
.update-and-delete-category-info .content .select-category-form button,
.add-new-style .content .add-new-category-form input,
.add-new-style .content .add-new-category-form select,
.add-new-style .content .add-new-category-form textarea,
.add-new-style .content .add-new-category-form button,
.add-new-style .content .add-new-style-form input,
.add-new-style .content .add-new-style-form select,
.add-new-style .content .add-new-style-form textarea,
.add-new-style .content .add-new-style-form button,
.add-new-style .content .select-category-form input,
.add-new-style .content .select-category-form select,
.add-new-style .content .select-category-form textarea,
.add-new-style .content .select-category-form button,
.generated-images-managment .content .add-new-category-form input,
.generated-images-managment .content .add-new-category-form select,
.generated-images-managment .content .add-new-category-form textarea,
.generated-images-managment .content .add-new-category-form button,
.generated-images-managment .content .add-new-style-form input,
.generated-images-managment .content .add-new-style-form select,
.generated-images-managment .content .add-new-style-form textarea,
.generated-images-managment .content .add-new-style-form button,
.generated-images-managment .content .select-category-form input,
.generated-images-managment .content .select-category-form select,
.generated-images-managment .content .select-category-form textarea,
.generated-images-managment .content .select-category-form button {
  font-size: 14px;
}

.error-msg-box {
  border: 2px solid #000;
  animation: popup-animation 2s ease-in-out 0s 1;
}

.error-msg-box .error-icon {
  font-size: 80px;
  color: red;
}

.error-msg-box .error-msg {
  line-height: 1.5;
}

.generated-images {
  background-color: #EEE;
}

@media (max-width: 767px) {
  .generated-images {
    padding: 10px;
    gap: 10px;
  }
}

.generated-images .slick-slider .slick-track {
  display: flex;
  align-items: center;
}

.generated-images .slick-slider .slick-prev, .generated-images .slick-slider .slick-next {
  transform: translateY(-50%);
}

.generated-images-list {
  display: flex;
  gap: 30px;
  align-items: center;
  overflow-x: auto;
}

.generated-images-item {
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.generated-images-item .generated-image {
  width: inherit;
  height: inherit;
}

.generated-images-item .generated-image.selected-image {
  border: 4px solid #000;
}

.generated-images-item.selected-image {
  border: 4px solid #000;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.overlay .rest-generated-images-box {
  position: fixed;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background-color: #CCC;
}

.overlay .rest-generated-images-box .close-overlay-icon {
  position: absolute;
  right: -15px;
  top: -15px;
  font-size: 30px;
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.welcome-msg {
  font-weight: bold;
  border-bottom: 3px solid;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .welcome-msg {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 7px !important;
    margin-bottom: 15px !important;
  }
}

.add-to-cart-box .quantity {
  font-size: 13px;
}

@media (max-width: 767px) {
  .add-to-cart-box .quantity {
    margin-bottom: 20px;
  }
}

.add-to-cart-box .add-to-cart-managment-btn {
  font-size: 13px;
}

.not-find-generated-images-for-you-err,
.order-not-found-error {
  font-size: 14px;
}

.quantity-control-icon {
  cursor: pointer;
  border: 2px solid #CCC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.quantity-control-icon:hover {
  background-color: #EEE;
}

.trash-icon {
  cursor: pointer;
  font-size: 22px;
}

.not-found-any-products-alert-box {
  background-color: #FFF;
  height: 300px;
}

.not-found-any-products-alert-box .cart-icon {
  font-size: 100px;
}

.text-to-image-service .page-content,
.image-to-image-service .page-content,
.face-swap-service .page-content {
  padding-top: 90px;
}

.text-to-image-service .page-content .container-fluid .welcome-msg,
.image-to-image-service .page-content .container-fluid .welcome-msg,
.face-swap-service .page-content .container-fluid .welcome-msg {
  font-size: 15px;
  line-height: 1.7;
}

.text-to-image-service .page-content .container-fluid .row .minimize-images,
.image-to-image-service .page-content .container-fluid .row .minimize-images,
.face-swap-service .page-content .container-fluid .row .minimize-images {
  position: sticky;
  top: 90px;
}

.text-to-image-service .page-content .container-fluid .row .art-painting .frame-image-box,
.image-to-image-service .page-content .container-fluid .row .art-painting .frame-image-box,
.face-swap-service .page-content .container-fluid .row .art-painting .frame-image-box {
  max-width: 100%;
}

.text-to-image-service .page-content .container-fluid .row .art-painting .frame-image-box img,
.image-to-image-service .page-content .container-fluid .row .art-painting .frame-image-box img,
.face-swap-service .page-content .container-fluid .row .art-painting .frame-image-box img {
  max-width: 100%;
}

.text-to-image-service .page-content .container-fluid .row .art-painting .generated-image-box, .text-to-image-service .page-content .container-fluid .row .art-painting .image-box,
.image-to-image-service .page-content .container-fluid .row .art-painting .generated-image-box,
.image-to-image-service .page-content .container-fluid .row .art-painting .image-box,
.face-swap-service .page-content .container-fluid .row .art-painting .generated-image-box,
.face-swap-service .page-content .container-fluid .row .art-painting .image-box {
  position: absolute;
  z-index: -1;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .option-section-name,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .option-section-name,
.face-swap-service .page-content .container-fluid .row .art-painting-options .option-section-name {
  font-size: 14px;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .section-name-and-control-arrows,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .section-name-and-control-arrows,
.face-swap-service .page-content .container-fluid .row .art-painting-options .section-name-and-control-arrows {
  cursor: pointer;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .section-name-and-control-arrows .arrow-icon,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .section-name-and-control-arrows .arrow-icon,
.face-swap-service .page-content .container-fluid .row .art-painting-options .section-name-and-control-arrows .arrow-icon {
  font-size: 23px;
  font-weight: bold;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box,
.face-swap-service .page-content .container-fluid .row .art-painting-options .categories .category-box {
  cursor: pointer;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-image,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-image,
.face-swap-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-image {
  height: 60px;
  border: 2px solid;
}

@media (max-width: 767px) {
  .text-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-image,
  .image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-image,
  .face-swap-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-image {
    width: 50px;
    height: 50px;
  }
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-name,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-name,
.face-swap-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-name {
  font-size: 12px;
}

@media (max-width: 767px) {
  .text-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-name,
  .image-to-image-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-name,
  .face-swap-service .page-content .container-fluid .row .art-painting-options .categories .category-box .category-name {
    font-size: 11px;
  }
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box,
.face-swap-service .page-content .container-fluid .row .art-painting-options .styles .style-box {
  cursor: pointer;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-image,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-image,
.face-swap-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-image {
  height: 60px;
  border: 2px solid;
}

@media (max-width: 767px) {
  .text-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-image,
  .image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-image,
  .face-swap-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-image {
    width: 50px;
    height: 50px;
  }
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-name,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-name,
.face-swap-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-name {
  font-size: 12px;
}

@media (max-width: 767px) {
  .text-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-name,
  .image-to-image-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-name,
  .face-swap-service .page-content .container-fluid .row .art-painting-options .styles .style-box .style-name {
    font-size: 11px;
  }
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list {
  border-bottom: 1px solid #CCC;
  font-size: 14px;
}

@media (max-width: 767px) {
  .text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list,
  .image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list,
  .face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list {
    font-size: 12px;
  }
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list li,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list li,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list li {
  cursor: pointer;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list li:hover,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list li:hover,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-names-list li:hover {
  border-bottom: 3px solid #CCC;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list {
  display: grid;
  gap: 15px;
  overflow-y: auto;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span {
  cursor: pointer;
  border: 1px solid #CCC;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@media (max-width: 767px) {
  .text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span,
  .image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span,
  .face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span {
    font-size: 12px;
  }
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span h6,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span h6,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span h6 {
  font-size: 12px;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span img,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span img,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .art-painting-options-list span img {
  display: block;
  margin: 0 auto;
  width: 30px;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .positions-list,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .positions-list,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .positions-list {
  grid-template-columns: repeat(3, calc(100% / 3 - 10px));
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .positions-list span, .text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .white-borders-list span,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .positions-list span,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .white-borders-list span,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .positions-list span,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .white-borders-list span {
  height: 55px;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list {
  grid-template-columns: repeat(4, calc(100% / 4 - 12px));
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list span,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list span,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list span {
  position: relative;
  height: 70px;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list .popular-box,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list .popular-box,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .sizes-list .popular-box {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .white-borders-list,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .white-borders-list,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .white-borders-list {
  grid-template-columns: repeat(2, calc(100% / 2 - 8px));
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list {
  grid-template-columns: repeat(9, 110px);
  grid-auto-flow: column;
}

@media (max-width: 991px) {
  .text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list,
  .image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list,
  .face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list {
    grid-template-columns: repeat(9, 75px);
  }
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span {
  height: 130px;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span img,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span img,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span img {
  border-radius: 50%;
  width: 70px;
  margin-bottom: 10px;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span h6,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span h6,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span h6 {
  text-transform: lowercase;
}

.text-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span h6::first-letter,
.image-to-image-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span h6::first-letter,
.face-swap-service .page-content .container-fluid .row .art-painting-options .displaying-art-painting-options .frames-list span h6::first-letter {
  text-transform: uppercase;
}

.text-to-image-service .page-content .container-fluid .row .room-image-box,
.image-to-image-service .page-content .container-fluid .row .room-image-box,
.face-swap-service .page-content .container-fluid .row .room-image-box {
  position: relative;
  max-width: 100%;
  width: 600px;
}

.text-to-image-service .page-content .container-fluid .row .room-image-box img,
.image-to-image-service .page-content .container-fluid .row .room-image-box img,
.face-swap-service .page-content .container-fluid .row .room-image-box img {
  width: 100%;
  max-width: 100%;
}

.text-to-image-service .page-content .container-fluid .row .room-image-box .art-painting,
.image-to-image-service .page-content .container-fluid .row .room-image-box .art-painting,
.face-swap-service .page-content .container-fluid .row .room-image-box .art-painting {
  position: absolute;
  left: 25%;
  top: 15%;
  z-index: 1;
}

.text-to-image-service .page-content .container-fluid .row .carousel .carousel-indicators,
.image-to-image-service .page-content .container-fluid .row .carousel .carousel-indicators,
.face-swap-service .page-content .container-fluid .row .carousel .carousel-indicators {
  height: 10px;
}

.text-to-image-service .page-content .container-fluid .row .carousel .carousel-indicators button:not(:last-child),
.image-to-image-service .page-content .container-fluid .row .carousel .carousel-indicators button:not(:last-child),
.face-swap-service .page-content .container-fluid .row .carousel .carousel-indicators button:not(:last-child) {
  margin-right: 10px;
}

.text-to-image-service .page-content .container-fluid .row .carousel .carousel-control-prev, .text-to-image-service .page-content .container-fluid .row .carousel .carousel-control-next,
.image-to-image-service .page-content .container-fluid .row .carousel .carousel-control-prev,
.image-to-image-service .page-content .container-fluid .row .carousel .carousel-control-next,
.face-swap-service .page-content .container-fluid .row .carousel .carousel-control-prev,
.face-swap-service .page-content .container-fluid .row .carousel .carousel-control-next {
  display: none;
}

.text-to-image-service .page-content .container-fluid ol li,
.image-to-image-service .page-content .container-fluid ol li,
.face-swap-service .page-content .container-fluid ol li {
  line-height: 2;
  margin-bottom: 5px;
  font-size: 14px;
}

.image-to-image-service .image-before-processing-box .select-image-box .file-label,
.face-swap-service .image-before-processing-box .select-image-box .file-label {
  border: 2px dashed #CCC;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 75px;
  background-color: #EEE;
}

@media (max-width: 767px) {
  .image-to-image-service .image-before-processing-box .select-image-box .file-label h6,
  .face-swap-service .image-before-processing-box .select-image-box .file-label h6 {
    font-size: 14px;
  }
}

.image-to-image-service .image-before-processing-box .select-image-box .file-label .upload-image-icon,
.face-swap-service .image-before-processing-box .select-image-box .file-label .upload-image-icon {
  font-size: 18px;
}

.image-to-image-service .image-before-processing-box .select-image-box input[type="file"],
.face-swap-service .image-before-processing-box .select-image-box input[type="file"] {
  visibility: hidden;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.image-to-image-service .image-before-processing-box .select-image-box .drop-file-box,
.face-swap-service .image-before-processing-box .select-image-box .drop-file-box {
  cursor: pointer;
  width: 100%;
  height: 150px;
  background-color: #EEE;
  border: 2px dashed #000;
}

.image-to-image-service .image-before-processing-box .downloaded-image-box,
.face-swap-service .image-before-processing-box .downloaded-image-box {
  width: 200px;
  position: relative;
}

.image-to-image-service .image-before-processing-box .downloaded-image-box .downloaded-image,
.face-swap-service .image-before-processing-box .downloaded-image-box .downloaded-image {
  max-width: 100%;
  max-height: 100%;
}

.image-to-image-service .image-before-processing-box .close-icon,
.face-swap-service .image-before-processing-box .close-icon {
  position: absolute;
  right: -15px;
  font-size: 28px;
  top: -15px;
  z-index: 2;
  cursor: pointer;
}

.painting-details {
  background-color: #EEE;
  font-size: 13px;
  text-align: justify;
}

.painting-details .painting-details-buttons-list .painting-details-button-item {
  background-color: #CCC;
  cursor: pointer;
  border-right: 2px solid #FFF;
  font-size: 13px;
}

.painting-details .painting-details-buttons-list .painting-details-button-item:hover, .painting-details .painting-details-buttons-list .painting-details-button-item.selected {
  background: #000;
  color: #FFF;
}

.painting-details .content {
  line-height: 2;
}

.painting-details p {
  font-size: 13px;
}

.painting-details .accordion-button {
  font-size: 13px;
}

.painting-details .accordion li {
  line-height: 2;
}

.painting-details .product-information-box ul {
  list-style-type: square;
  list-style-position: inside;
}

.inspiration .row {
  row-gap: 30px;
}

.policy-page .page-content {
  padding-top: 80px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .policy-page .policy-explain {
    width: 100% !important;
  }
}

.policy-page .policy-explain .policy-table th, .policy-page .policy-explain .policy-table td {
  border: 1px solid;
  padding: 10px;
}

.policy-page a:not(.nav-link) {
  text-decoration: underline;
  color: #494949;
}

.policy-page a:not(.nav-link):hover {
  color: gray;
}

.policy-page p {
  line-height: 1.7;
}

.policy-page .long-heading {
  line-height: 2;
}

.pagination .current-page-number-and-count-of-pages {
  font-size: 14px;
}

.pagination .pagination-icon {
  font-size: 25px;
  cursor: pointer;
}

.pagination .pagination-icon:hover {
  background-color: #dc3545;
  color: #FFF;
  font-size: 25px;
}

.pagination .pagination-button {
  background: #DDD;
  font-size: 14px;
}

.pagination .pagination-button.selection {
  background-color: #dc3545;
  color: #FFF;
}

.pagination .navigate-to-specific-page-form .page-number-input {
  font-size: 14px;
}

.filters .row {
  row-gap: 10px;
}

.filters .row h6, .filters .row input, .filters .row select {
  font-size: 14px;
}

.data-box {
  height: calc(100vh - 250px);
  overflow: scroll;
}

.data-box .data-table {
  border: 2px solid #000;
  background-color: #FFF;
  width: 100%;
}

.data-box .data-table th, .data-box .data-table td {
  border: 2px solid #000;
  padding: 10px;
  font-size: 13px;
}

.data-box .data-table input, .data-box .data-table select, .data-box .data-table textarea, .data-box .data-table button, .data-box .data-table a, .data-box .data-table h6 {
  font-size: 13px;
}

.data-box .data-table.long-width-table {
  width: 150%;
}

.data-box .data-table.long-width-table textarea {
  height: 200px;
  resize: none;
}

.customer-info .info {
  font-size: 14px;
}

.policy-list {
  list-style: disc outside;
}

.policy-list li {
  line-height: 1.7;
}

.loader-table-box {
  height: 200px;
}

.loader-table-data {
  width: 48px;
  height: 48px;
  border: 5px dotted #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.slick-slider {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0 !important;
}

.slick-slider .slick-prev {
  left: 0;
}

.slick-slider .slick-next {
  right: 0;
}

.slick-slider .slick-prev, .slick-slider .slick-next {
  background-color: #FFF;
  border-radius: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  transform: translateY(calc(-50% - 15px));
}

.slick-slider .slick-prev::before, .slick-slider .slick-next::before {
  opacity: 1;
  color: #000;
  font-size: 30px;
}

.accordion .accordion-item .accordion-button:focus {
  border: 2px solid #000;
  outline: none;
  box-shadow: none;
}

@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }
  16% {
    background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
  }
  33% {
    background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
  }
  50% {
    background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px;
  }
  66% {
    background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px;
  }
  83% {
    background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px;
  }
  100% {
    background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes popup-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
