.returned-orders-manager{
    .returned-orders-data-box{
        height: calc(100vh - 250px);
        overflow: auto;
        .returned-orders-data-table{
            font-size: 15px;
            border: 2px solid #000;
            background-color: #FFF;
            width: 100%;
            th, td{
                border: 2px solid #000;
                padding: 10px;
            }
        }
    }
    .pagination{
        .pagination-icon{
            font-size: 30px;
            cursor: pointer;
            &:hover{
                background-color: #dc3545;
                color: #FFF;
                font-size: 33px;
            }
        }
        .pagination-button{
            background: #DDD;
            &.selection{
                background-color: #dc3545;
                color: #FFF;
            }
        }
    }
}